@{
    ViewBag.Title = "About Us";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 " style="padding-top: 119.5px;">
            <p>As a company that relies on agricultural products, we has long been aware that the planet is our most important business partner.</p>
            <p>We are committed to addressing climate change by minimizing our environmental footprint and creating meaningful and sustained change. This work includes our approach to green retail: building more energy efficient stores and facilities; conserving energy and water; investing in renewable energy; and exploring new solutions for recycling and making our cups sustainable.</p>
            <p>While some of the ambitious environmental goals we set in 2008 are within reach, we have discovered unexpected challenges with others. This doesn’t mean we should aim lower. We believe in the importance of setting aspirational targets rather than settling for less ambitious targets, as well as learning from our experience to inform next steps.</p>
            
        </div>
        <div class="col-sm-6 text-right"   style="padding-top: 100px;">

            <img src="~/img/cleanhouse.jpg" width="300" height="350" />
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 ">
            <img src="~/img/coffeebean.jpg" width="300" height="350" />
          
        </div>
        <div class="col-sm-6 align-vertical ">

            <p>
              A year ago, I posed this question at our annual shareholders meeting. This report includes some answers to that question.
          
            <p>We have always believed building a great, enduring company requires being performance-driven through the lens of humanity. <br />I am proud that we not only achieved another year of record financial performance in 2014, but we did so while doing more for our people and the communities we serve than at any time in our history. By staying true to our mission, values and guiding principles, I believe we’ve proven it is possible to build a world-class company with a conscience.</p>
     
         
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 align-vertical " style="padding-top: 20px;">
      
            <p>Our Journey to 100% Ethically Sourced</p>
            <p>In 1999, when we were a company of just over 2,000 stores in a handful of countries, we recognized the need to do more to ensure the long-term supply of the high-quality coffee on which our business depends. We turned to Conservation International (CI) to help us promote environmentally responsible growing methods.</p>
            <p>Addressing the environmental impact of coffee farming was only one piece of the puzzle. We needed a holistic approach to sourcing that also ensured fair pay and working conditions. In 2001, CI helped us develop broad quality, social, environmental and economic guidelines.</p>
            <p>Over the past decade, C.A.F.E. Practices has helped positively impact millions of workers, and improved the long-term environmental and social conditions on thousands of participating farms around the world. In our journey to 100% ethically sourced, we plan to work to continue to improve sustainability across our industry.</p>
     
        </div>
        <div class="col-sm-6 text-right " style="margin-bottom: 60px;">

            <img src="~/img/coffeeshop.jpg" width="300" height="350" /> 
        </div>

    </div>
</div>